.bg-form {
	background-color: rgb(255, 255, 255);
	background-image: radial-gradient(
			at 50% 10%,
			hsla(277, 100%, 61%, 0.24) 0px,
			transparent 50%
		),
		radial-gradient(
			at 50% 90%,
			hsla(208, 100%, 71%, 0.356) 0px,
			transparent 50%
		);
	min-height: 100vh;
}

.form {
	background: rgba(255, 255, 255, 0.459);
	border-radius: 16px;
	backdrop-filter: blur(19.6px);
	-webkit-backdrop-filter: blur(19.6px);
	max-width: 500px;
	height: 100%;
	width: 100%;
}

form input {
	background-color: #ffffff8f !important;
}

#btnLogin {
	height: 50px;
}

#stepTitle {
	color: #3f3f3f;
}

.logo {
	height: 40px;
}

.text-pass1 {
	font-size: 0.8rem;
}

#btnBack {
	background-color: #c0c0c0;
	color: white;
	border-radius: 4px;
	padding: 0.5rem 1rem;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

.step-1 {
	right: calc(100% + 2rem);
	opacity: 0;
	transition: all 0.3s ease-in-out, opacity 0.4s ease-out;
}

.step-1.active {
	opacity: 1;
	right: 0;
}

.step-2 {
	left: calc(100% + 2rem);
	transition: all 0.3s ease-in-out, opacity 0.4s ease-out;
	opacity: 0;
}

.step-2.active {
	opacity: 1;
	left: 0;
}

.bg-purple {
	background-color: #3f3f3f;
}

.bg-purple:hover {
	background-color: #3d3d3d;
}

.text-purple {
	color: #3f3f3f;
}

.bi-envelope-at-fill {
	font-size: 1.3rem;
	left: 1.5rem;
}

.bi-shield-lock-fill {
	font-size: 1.3rem;
	left: 1.5rem;
}

.bi-eye-slash-fill,
.bi-eye-fill {
	font-size: 1.3rem;
	right: 1rem;
}

.bi-eye-slash-fill:hover,
.bi-eye-fill:hover {
	cursor: pointer;
	background-color: #f0f0f0;
	border-radius: 50%;
}

.shake-horizontal {
	animation: shake-horizontal 0.8s 0.7 both;
}

@keyframes shake-horizontal {
	0%,
	100% {
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}
	20%,
	40%,
	60% {
		transform: translateX(10px);
	}
	80% {
		transform: translateX(8px);
	}
	90% {
		transform: translateX(-8px);
	}
}

.login-link {
	transition: all 0.2s ease-in-out;
}

.login-link:hover {
	text-decoration: underline;
	color: #000000;
	cursor: pointer;
}

.error-email {
	color: red;
	font-size: 0.8rem;
	background-color: rgb(255, 215, 215);
	padding: 0.7rem;
	border-radius: 3px;
}

@media (max-width: 768px) {
	.bg-form {
		background-image: radial-gradient(
				at 90% 10%,
				hsla(277, 100%, 61%, 0.24) 0px,
				transparent 50%
			),
			radial-gradient(
				at 10% 90%,
				hsla(208, 100%, 71%, 0.356) 0px,
				transparent 50%
			);
	}
}